//output: index.html

- var namespace = "dino"
- var author = "Frank Dip"
- var version = "Version 1.0"
- var title = "CSS Dinosaur Challenge"
- var description = "Udacity Google scholarship student lead CSS Dinosaur challenge. Papo Brachiosaurus. " + version + "."

doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    title #{title}
    meta(name="description", content=description)
    meta(name="author", content="Frank Dip")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    link(rel="stylesheet", href="styles\\styles.min.css")
  body
    div(class=namespace + "-container")
      svg(class=namespace + "-svg")
          path(id=namespace + "-path"
            d="M41 160 C41 160, 70 172,100 169 C100 169, 150 158, 200 127 L290 71 L295 71 C295 71, 345 35, 420 55 C420 55, 460 30, 565 95 L576 95 L573 81 L583 78 L579 66 L594 67 L594 54 L607 54 L611 48 C611 48, 613 40, 620 50 L625 42 L630 46 L638 39 L645 45 L655 45 L658 55 L666 60 L663 70 L668 73 L666 75 L674 84 L670 89 L671 115 C671 115, 675 130, 686 132 L751 125 L784 118 C784 118, 750 140, 705 150 C705 150, 703 155, 708 160 C708 160, 700 180, 723 188 C723 188, 733 193, 768 183 C768 183, 755 199, 745 212 C745 212, 753 214, 751 230 C751 230, 745 257, 735 262 L728 253 C728 253, 723 255, 718 254 C718 254, 698 250, 685 239 C685 239, 669 240, 653 227 C653 227, 620 215, 575 233 C575 233, 575 250, 564 273 C564 273, 568 280, 569 300 C569 300, 568 325, 580 338 L590 338 C590 338, 595 342, 590 346 C590 346, 580 350, 565 342 C565 342, 560 349, 555 340 C555 340, 552 335, 550 337 C550 337, 533 338, 546 329 C546 329, 548 314, 535 300 C535 300, 517 275, 527 255 C527 255, 510 256, 506 252 C506 252, 500 260, 478 265 C478 265, 480 300, 470 323 C470 323, 480 350, 463 328 C463 328, 458 350, 453 323 C453 323, 443 340, 445 314 C445 314, 427 313, 445 300 C445 300, 450 285, 443 275 C443 275, 438 264, 443 250 C443 250, 440 251, 411 246 C411 246, 401 270, 392 280 C392 280, 375 310, 409 345 C409 345, 400 355, 370 346 C370 346, 365 340, 359 341 C359 341, 360 325, 352 317 C352 317, 365 300, 347 260 C347 260, 340 260, 321 280 C321 280, 310 300, 320 313 C320 313, 330 320, 334 330 C334 330, 330 340, 292 330 C292 330, 295 320, 287 310 C287 310, 280 310, 289 290 C289 290, 275 270, 309 250 C309 250, 310 235, 325 215 C325 215, 315 211, 300 195 C300 195, 260 190, 240 185 L160 199 C160 199, 100 210, 65 180 Z"
          )
